*{
    margin: 0;
    padding: 0;
    border: none
}

body{
    text-align: center;
}

#banner{
    text-align: center;
    background-image: url("image/tomato.jpg");
    background-size: cover;
    padding: 100px;
    color: white;
}

#banner h1{
    font-family: 'Chelsea Market', cursive;
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size: 100px;
    text-shadow: 1px 1px 5px white;
}

#banner p{
    color: lightgoldenrodyellow;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 40px;
}

main{
    position: relative;  
    text-align: center;
    margin-top: 20px;

}

#container{
    position: absolute;   
   
}

#counter{
    background-color: red;
    color: white;
    font-size: 80px;   
    padding: 3px 40px;
    text-align: center; 
   
}

.command{
    align-items: center;
    margin-top: 10px;
}

.command .redo-button{
   
}

.command a{
    color: red;
    font-size: 40px;     
}

.command a:hover{
    color: gray; 
    cursor: pointer;  
}

#play-button,
#stop-button,
#redo-button{
    background-color: white;
}

#play-button,
#stop-button{
    margin-right: 20px;
}
